<ul>
<%= link_to "Back to Dashboard", "/dashboard" %>
<h1><%= "No Unverified Users" if @unverified_list.empty? %></h1>
<% @unverified_list.each do |unverified_user| %>
	<li>
		<%= unverified_user.name %>
		<%= form_for unverified_user do |f| %>
			<%= f.hidden_field :verified, :value => true %>
			<%= f.submit "Verify User" %>
		<% end %>
	</li>
<% end %>
</ul>
