<body>
<div class="container" "row" "col-md-offset-2">
  <a href="<%= @user.linkedin_url%>">
  <%= image_tag @user.image_url, :class => "img-rounded"%></a>
</div>
  
<div class="col-md-6" "container-fluid">
  <h1><%= @user.name %></h1>

  <h>City: <%= @user.city.name %></h><br><br>
</div>

<div class="col-md-6" "container-fluid">
  <h>Cohort: <% if @user.cohort == nil %></h>
            <%= render "/users/form" %>
    
            <%= link_to "Create Cohort", "/cohorts/new", :class => "btn btn-primary btn-xs btn btn-warning"%>
            <% else %>
            <%= @user.cohort.name %>
            <% end %> <br><br>
  <h>Email: <%= @user.email %></h><br><br>

  <h>Companies :</h>
  <ul>
    <% @user.companies.each do |company| %>
      <li><%= company.name %></li>
    <% end %>
  </ul>
</div>
</body>