<body>

<div class="row" "col-md-offset-6">
<div class="container">
  <a href="<%= @user.linkedin_url%>">
  <%= image_tag @user.image_url, :class => "img-rounded"%></a>
</div>
  
<div class="col-md-12"container-fluid>
  <h1><%= @user.name %></h1>

</div>

<div class="col-md-6" "container-fluid">
<ul class="list-group">
<li class="list-group-item list-group-item-info">City: <%= @user.city.name %></h></li>
<li class="list-group-item list-group-item-info">Cohort: <% if @user.cohort == nil %></h>
            <%= render "/users/form" %>
    
            <%= link_to "Create Cohort", "/cohorts/new", :class => "btn btn-primary btn-xs btn btn-warning"%>
            <% else %>
            <%= @user.cohort.name %></li> 
            <% end %>
<li class="list-group-item list-group-item-info"><h>Email: <%= @user.email %></h></li>

<li class="list-group-item list-group-item-info"><h>Companies :</h>
  <ul>
    <% @user.positions.each do |position| %>
      <li><%= position.company.name %>: <%= position.title %></li>
    <% end %>
</div>
  </ul>
</div>
</body>