<body>

<div class="row" "col-md-offset-6">
<div class="container">
  <a href="<%= @user.linkedin_url%>">
  <%= image_tag @user.image_url, :class => "img-rounded"%></a>
</div>
  
<div class="col-md-12"container-fluid">
  <h1><%= @user.name %></h1>

</div>

<div class="col-md-6" "container-fluid">

<h>City: <%= @user.city.name %></h><br><br>
  <h>Cohort: <% if @user.cohort == nil %></h>
            <%= render "/users/form" %>
    
            <%= link_to "Create Cohort", "/cohorts/new", :class => "btn btn-primary btn-xs btn btn-warning"%>
            <% else %>
            <%= @user.cohort.name %>
            <% end %> <br><br>
  <h>Email: <%= @user.email %></h><br><br>

  <h>Companies :</h>
  <ul>
    <% @user.positions.each do |position| %>
      <li><%= position.company.name %>: <%= position.title %></li>
    <% end %>
</div>
  </ul>
</div>
</body>