<h2><%= @user.name %></h2>

<a href="<%= @user.linkedin_url%>"><%= image_tag @user.image_url %></a><br>

City: <%= @user.city.name %><br>

Cohort: <%= @user.cohort == nil ? "Cohort not set. Please edit your profile to set your cohort." : @user.cohort.name %><br>

Email: <%= @user.email %><br>

Companies
<ul>
<% @user.companies.each do |company| %>
	<li><%= company.name %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %>