<h2><%= @user.name %></h2>

<a href="<%= @user.linkedin_url%>"><%= image_tag @user.image_url %></a><br>

City: <%= @user.city.name %><br>

Cohort: <% if @user.cohort == nil %>
					<%= render "/users/form" %><%= link_to "Create Cohort", "/cohorts/new" %>
				<% else %>
					<%= @user.cohort.name %>
				<% end %> <br>


Email: <%= @user.email %><br>

Companies
<ul>
<% @user.companies.each do |company| %>
	<li><%= company.name %></li>
<% end %>
</ul>

