<h1><%= link_to @post.name, @post %></h1> 
<p>Written by: <%= @post.user.name %></p>
<p>Date: <%= @post.created_at %></p>

<% if @post.user == current_user %>
	<%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<div class="well well-lg"><%= @post.content %></div>


<h4>Comments:</h4>

<ul class="list-group">
	<li class="list-group-item list-inline">
		<h5>Post a comment: </h5>
		<%= form_for [@post, @comment] do |f|%>
			<%= f.hidden_field :post_id, value: @post.id %>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<%= f.label :name, "Title" %><br>
			<%= f.text_field :name, :class => "form-control" %><br>
			<%= f.label :content, "Comment" %><br>
			<%= f.text_area :content, :class => "form-control", :rows => "3" %><br>
			<%= f.submit "Create Comment", :class => "btn btn-default"%>
		<% end %>
	</li>
</ul>

<% @post.comments.each do |comment| %>
	<li class="list-group-item list-inline">
		<h5><strong><%= comment.name %></strong></h5>
		<p>Date: <%= comment.created_at.to_formatted_s(:long) %></p>
		<p><%= comment.content %></p>
		<p>Written by: <%= current_user.name%></p>
	</li>
<% end %>



